.app-tabs {
  margin-top: govuk-spacing(1);
}

.app-tabs__list {
  margin: govuk-spacing(0);
  padding: govuk-spacing(0);
  list-style: inside;
}

.app-tabs__list-item {
  @include govuk-font(19);
}

.app-tabs__tab {
  @include app-link;

  margin-bottom: govuk-spacing(2);
}

.app-tabs__panel {
  padding: govuk-spacing(4) govuk-spacing(2);
}

@include govuk-media-query($from: tablet) {
  .app-tabs__list {
    margin-bottom: 0;
    display: flex;
    list-style: none;
  }

  .app-tabs__list-item {
    border-radius: $app-border-radius $app-border-radius 0 0;
    margin: govuk-spacing(2) govuk-spacing(1) 0 0;
    background-color: $app-light-grey;
  }

  .app-tabs__tab {
    @include govuk-link-style-text;
    padding: govuk-spacing(2) govuk-spacing(3);
    margin-bottom: 0;
    display: block;
  }

  .app-tabs__list-item--selected {
    $border-width: 1px;

    margin-top: govuk-spacing(2);
    margin-bottom: -$border-width;

    border: $border-width solid $app-mid-grey;
    border-bottom: 0;
    border-radius: $app-border-radius $app-border-radius 0 0;
    background-color: $govuk-body-background-colour;
    font-weight: bold;

    .app-tabs__tab {
      padding: govuk-spacing(2) - $border-width govuk-spacing(3) - $border-width;
    }
  }

  .app-tabs__panel {
    border-top: 1px solid $app-mid-grey;
    margin-left: govuk-spacing(-2);
    margin-right: govuk-spacing(-2);
  }
}
