<div class="app-tabs"
     data-js="app-tabs">
  {% if(params.displayTabs | default("true") and params.tabs | length) %}
    <ul class="app-tabs__list" data-testid="app-tabs-list">
      {% for tab in params.tabs %}
        <li class="app-tabs__list-item{% if tab.isActive %} app-tabs__list-item--selected{% endif %}"
            data-testid="app-tabs-list-item-{{ loop.index }}{% if tab.isActive %} app-tabs-list-item--selected{% endif %}">
          <a class="app-tabs__tab" href="{{ tab.url }}" data-js="app-tab">
            {{ tab.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for tab in params.tabs %}
    {% if tab.isActive %}
      {% set content = tab.panel.html | safe if tab.panel.html else tab.panel.text %}
      <section class="app-tabs__panel" data-testid="app-tabs-panel">
        {{ caller() if caller else content }}
      </section>
    {% endif %}
  {% endfor %}
</div>
