.app-pagination {
  margin: govuk-spacing(4) 0;
  justify-content: center;

  .govuk-pagination__item {
    border-radius: $app-border-radius;
  }

  .govuk-pagination__next {
    padding-right: govuk-spacing(3);
  }

  .govuk-pagination__prev {
    padding-left: govuk-spacing(3);
  }
}
