.app-entity-list {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-entity-list__header {
  @include govuk-font(19, "bold");
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.4;
  padding: 0 0 govuk-spacing(2);
}

.app-entity-list__table {
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  padding-left: 0;
  list-style-type: none;
  flex: 1;
}

.app-entity-list__row {
  @include govuk-font(19);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 govuk-spacing(-2);
  padding: govuk-spacing(3) govuk-spacing(2);
  border-bottom: 1px solid $app-grey;
  line-height: 1.4;
  background-color: govuk-colour("white");

  &:nth-child(odd) {
    background-color: $app-light-grey;
  }

  &:last-child {
    border: none;
  }

  &:first-of-type {
    border-top: 1px solid $app-grey;
  }
}


.app-entity-list__table--single {
  .app-entity-list__row {
    background-color: govuk-colour("white");
  }
}

.app-entity-list__item {
  padding-left: govuk-spacing(2);

  &:first-of-type {
    padding-left: govuk-spacing(0);
  }
}

.app-entity-list__item--tiny {
  flex: 3;
  max-width: 80px;
}

.app-entity-list__item--small {
  flex: 4;
  max-width: 160px;
}

.app-entity-list__item--medium {
  flex: 6;
  max-width: 240px;
}

.app-entity-list__item--large {
  flex: 8;
  max-width: 320px;
}

.app-entity-list__item--massive {
  flex: 10;
  max-width: 400px;
}

.tdm-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
