{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% from "entity/macro.njk" import appEntity with context %}

<article class="app-entity-list"
         data-testid="app-entity-list">
  <header class="app-entity-list__header" data-testid="app-entity-list-header">
    {% for heading in params.headings %}
      <div class="app-entity-list__item app-entity-list__item--{{ heading.size }}"
           data-testid="app-entity-list-item-{{ loop.index }}">
        {{ heading.text }}
      </div>
    {% endfor %}
  </header>

  <ul class="app-entity-list__table{% if params.classes %} {{ params.classes }}{% endif %}">
    {% for entityRow in params.entityRows %}
      <li class="app-entity-list__row"
          data-testid="app-entity-list-row-{{ loop.index }}">

        {% for entity in entityRow %}
          {% set headingDetail = params.headings[loop.index0] %}
          {% set classes = [
            "app-entity-list__item",
            "app-entity-list__item--" + headingDetail.size
          ].concat(entity.classes | default([])) | compact %}

          <div class="{{ classes | join(" ")  }}"
               data-testid="app-entity-list-item-{{ loop.index }}">
            {{ appEntity(entity | assign({}, {index: loop.index}, entity)) }}
          </div>
        {% endfor %}
      </li>
    {% else %}
      <li class="app-entity-list__row"
          data-testid="app-entity-list-no-results">{{ params.noResult }}</li>
    {% endfor %}
  </ul>

  {% if params.pagination.items.length > 1 %}
    <footer>
      {{ govukPagination(params.pagination | assign({}, {classes: "app-pagination"}, params.pagination)) }}
    </footer>
  {% endif %}

</article>
