{% extends 'layouts/page.njk' %}


{% block content %}
  {{ appHeading({
    text: heading,
    caption: "IPAFFS notifications management"
  }) }}

{{ appHero({
    heading: "Build your Defra applications on the Core Delivery Platform",
    lead: {
      html: "Helping teams to create, deploy, run and monitor applications."
    },
    secondary: {
      html: "BBB"
    },
    aside: {
      html: "CCC"
    }
  }) }}

{% endblock %}
