{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: "Not Found"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>This page was not found</p>

    </div>
  </div>
{% endblock %}
