{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Trade Data Matching ALVS V2 POC Hosted on Core Delivery Platform."
  }) }}

  {% call appPageBody() %}
    <p>
      Welcome to the Trade Data Matching ALVS v2 Prototype 🚀
    </p>

    <p>
      Checkout the  <a href="/about">about page</a> for information about the project & progress so far.
    </p>
    <p>
      Login <a href="/login">here</a> to access secure parts of the service.
    </p>

  {% endcall %}

{% endblock %}
