{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Trade Data Matching Platform ALVS V2 POC Hosted on Core delivery platform."
  }) }}

  {% call appPageBody() %}
    <p>
      Welcome to the Trade Data Matching Platform ALVS v2 Prototype 🚀
    </p>
     Currently implemented:
    </p>

    <ul>
      <li>
        Connectivity & testing for Azure Blob Storage & Azure Service Bus, connecting over the public internet.
      </li>
      <li>
        Full schema of IPAFFS notification, initial POC schema for movements & GMRs
      </li>
      <li>
        Full schema for movements (CDS)
      </li>
      <li>
        Synchronisation of IPAFFS Notifications and ALVS Clearance Requests from the DMP Azure Data Lake into a CDP Mongo DB Database.
      </li>
      <li>
        Internal API capability to interrogate this data & shape it for different clientside use cases. For example:
        <ul>
              <li>
                <a target="_blank" href="{{ tdmBackendApi }}/notifications">Retrieve all notifications</a>
              </li>
              <li>
                <a target="_blank" href="{{ tdmBackendApi }}/notifications?sort=-lastUpdated">Retrieve all notifications, order by last updated descending</a>
              </li>
              <li>
                <a target="_blank" href="{{ tdmBackendApi }}/notifications/{{tdmBackendExampleNotification}}">Retrieve a single notifcation</a>
              </li>
              <li>
                <a target="_blank" href="{{ tdmBackendApi }}/notifications?filter=equals(ipaffsType,%27Cveda%27)">Retrieve only CHEDA notifications</a>
              </li>
              <li>
                <a target="_blank" href="{{ tdmBackendApi }}/notifications/{{tdmBackendExampleNotification}}?fields[notifications]=status,ipaffsType,partOne">Retrieve a single notifcation but only certain fields</a>
              </li>
              <li>
                <a target="_blank" href="{{ tdmBackendApi }}/movements">Retrieve Retrieve all movements</a>
              </li>
              <li>
                <a target="_blank" href="{{ tdmBackendApi }}/gmrs">Retrieve Retrieve all GMRs (TODO)</a>
              </li>
            </ul>
      </li>
    </ul>


    <p>
       Currently in progress
    </p>

    <ul>
      <li>
        Level 1 matching
      </li>
      <li>
        Record level UI
      </li>
      <li>
        Authentication / Authorisation POC
      </li>
    </ul>


    <p>
     What is in scope for the initial POC but not yet implemented:
    </p>

    <ul>
      <li>
        Level 1 matching
      </li>
      <li>
        Full schema for GMRs
      </li>
      <li>
        Aggregate / reporting UI
      </li>
      <li>
        Real time updates via Azure Service Bus
      </li>
      <li>
        Connectivity to Azure blob storage and bus via MPLS
      </li>
      <li>Proxy of SOAP traffic between CDS & ALVS and between ALVS & IPAFFS</li>
    </ul>

    </p>
     What is not in scope for the Initial POC:
    </p>

    <ul>
      <li>
        Level 2 & 3 matching
      </li>
      <li>
        Cutover process
      </li>
    </ul>

    </p>
     Key areas of concern:
    </p>

    <ul>
      <li>
        Enabling private connectivity to the Azure environment
      </li>
      <li>
        Governance process to get to production running
      </li>
    </ul>
    <p>
      This service is based on <a href="https://github.com/DEFRA/design-standards">DEFRA</a> and <a
              href="https://design-system.service.gov.uk/">GOV.UK</a> best practices:
    </p>

    <ul>

      <li>
        <a href="https://jsonapi.org/">json:api a specification for building APIs in JSON</a>
      </li>

      <li>
        <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a>
      </li>
      <li>
        <a href="https://hapi.dev">Hapi</a>
      </li>
      <li>
        <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
      </li>
      <li>
        <a href="https://github.com/mozilla/node-convict">Node Convict</a>
      </li>
      <li>
        <a href="https://jestjs.io/">Jest testing</a>
      </li>
      <li>
        <a href="https://webdriver.io">WebdriverIO</a> User Journey testing
      </li>
      <li>GitHub Actions Pull Request and Publish jobs</li>
      <li>
        <a href="https://github.com/pinojs/pino">PinoJs logging</a>
      </li>
      <li>
        <a href="https://standardjs.com">Standard JS</a>
      </li>
      <li>
        <a href="https://eslint.org">ESLint</a>
      </li>
      <li>
        <a href="https://stylelint.io">StyleLint</a>
      </li>
      <li>
        <a href="https://prettier.io">Prettier</a>
      </li>
      <li>and lots more... 😎</li>
    </ul>
  {% endcall %}

{% endblock %}
