{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "IPAFFS notifications management"
  }) }}

  {{ govukTable({
    attributes: {
      'data-module': 'moj-sortable-table'
    },
    head: [
      {
        text: "ID",
        attributes: {
          "aria-sort": "ascending"
        }
      },
      {
        text: "Status",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Type",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Updated",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "# Packages",
        attributes: {
          "aria-sort": "none"
        },
        format: "numeric"
      }
    ],
    rows: notifications
  }) }}

{% endblock %}
