{% extends "layouts/tabbed-page.njk" %}

{% block beforeTabContent %}
  {{ appHeading({
    text: heading,
    caption: "IPAFFS notifications management"
  }) }}

{% endblock %}

{% block tabContent %}
  {{ appEntityList({
    headings: [
      { text: "ID", size: "large" },
      { text: "Status", size: "small" },
      { text: "Updated", size: "small" },
      { text: "# Packages", size: "small" }
    ],
    entityRows: notifications,
    noResult: "There are no CHEDS available at the moment"
  }) }}

{% endblock %}
