{% extends "layouts/page.njk" %}

{% block content %}

{{ govukTable({
  caption: "Import Documentation Outcome",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Inspection Status"
      },
      {
        text: appTag({
          text: inspectionStatus.text,
          classes: inspectionStatus.classes
        })
      }
    ],
    [
      {
        text: "Matching Outcome"
      },
      {
        text: appTag({
          text: matchOutcome.value,
          classes: matchOutcome.classes
        })
      }
    ]
  ]
}) }}


{% if partTwoStatus.display %}

{{ govukTable({
  caption: "Inspection Outcome",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Consignment Acceptable"
      },
      {
        text: appTag({
          text: partTwoStatus.acceptable.text,
          classes: partTwoStatus.acceptable.classes
        })
      }
    ],
    [
      {
        text: "Decision"
      },
      {
        text: appTag({
          text: partTwoStatus.decision.text,
          classes: partTwoStatus.decision.classes
        })
      }
    ]
  ]
}) }}

{% endif %}

{% call govukFieldset({
  legend: {
    text: "Actions",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: false
  }
}) %}
  <form method="post" action="/cds-simulator/create-clearance-request/{{notification.id}}" autocomplete="off" novalidate>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Create Test CR",
      classes: "govuk-button--secondary",
      preventDoubleClick: true
    }) }}
  </div>
  </form>
{% endcall %}

{{ govukTable({
  caption: "IPAFFS Notification (CHED) Information",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Common Health Entry Document (CHED) Reference"
      },
      {
        text: notification.id
      }
    ],
   [
     {
       text: "Last Updated"
     },
     {
       text: lastUpdated
     }
   ],
    [
      {
        text: "Status"
      },
      {
        text: notification.status
      }
    ],
    [
      {
        text: "Country Of Origin"
      },
      {
        text: notification.partOne.commodities.countryOfOrigin
      }
    ],
     [
       {
         text: "Item Number"
       },
       {
         text: "TODO"
       }
     ],
     [
       {
         text: "Last Updated By"
       },
       {
         text: notification.lastUpdatedBy.displayName
       }
     ],
     [
       {
         text: "Importer"
       },
       {
         text: notification.partOne.importer.companyName
       }
     ],
     [
       {
         text: "Consignor"
       },
       {
         text: notification.partOne.consignor.companyName
       }
     ]
  ]
}) }}


{% call govukFieldset({
  legend: {
    text: "Commodity Information",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: false
  }
}) %}

  {{ appEntityList({
      headings: [
        { text: "Item #", size: "small" },
        { text: "Commodity Code", size: "small" },
        { text: "Commodity Description", size: "small" },
        { text: "Complement Description", size: "small" },
        { text: "Quantity", size: "small" },
        { text: "Weight", size: "small" },
        { text: "Inspection Status", size: "small" },
        { text: "Match Status", size: "small" }
      ],
      entityRows: ipaffsCommodities,
      noResult: "There are no Commodities on the notification"
    }) }}

{% endcall %}

{% macro getPanelHtml(item) %}
 <h2 class="govuk-heading-l">Item #1 (HMRC Info TODO)</h2>
   {{ govukTable({
     caption: "HMRC Customs Declaration Information",
     captionClasses: "govuk-table__caption--m",
     rows: [
       [
         {
           text: "Customs Declaration Reference"
         },
         {
           text: "TODO"
         }
       ],
       [
         {
           text: "Final State"
         },
         {
           text: "TODO"
         }
       ],
        [
          {
            text: "Item Number"
          },
          {
            text: "TODO"
          }
        ]
     ]
   }) }}
   {{ appHeading({
     caption:"Commodity Information"
   }) }}
   {{ appEntityList({
     headings: [
       { text: "Item Number", size: "small" },
       { text: "Commodity Code", size: "small" },
       { text: "Commodity Description", size: "small" },
       { text: "Quantity", size: "small" },
       { text: "Weight", size: "small" },
       { text: "# Items", size: "small" },
       { text: "Match Status", size: "small" }
     ],
     entityRows: [],
     noResult: "There are no Commodities on the movement"
   }) }}
{% endmacro%}

{{ govukTabs({

  items: [
    {
      label: "Item #1",
      id: "item1",
      panel: {
        html: getPanelHtml()
      }
    }
  ]

}) }}


{% call govukFieldset({
  legend: {
    text: "Check Information",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: false
  }
}) %}

  {{ appEntityList({
      headings: [
        { text: "Item ID", size: "tiny" },
        { text: "Check Code", size: "small" },
        { text: "Decision Code", size: "small" },
        { text: "Department", size: "small" },
        { text: "Decision", size: "large" }
      ],
      entityRows: checks,
      noResult: "There are no items on the movement"
    }) }}

{% endcall %}

{% if auditEntries|length %}

  {% call govukFieldset({
    legend: {
      text: "Audit Log",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: false
    }
  }) %}

    {{ appEntityList({
      classes: "audit-log",
      headings: [
        { text: "Version", size: "tiny" },
        { text: "Created By", size: "medium" },
        { text: "Created On (Source)", size: "medium" },
        { text: "Created On (TDM)", size: "medium" },
        { text: "Status", size: "small" }
      ],
      entityRows: auditEntries,
      noResult: "There are no audit entries"
      }) }}

  {% endcall %}

{% endif %}

{% endblock %}

