{% extends "layouts/page.njk" %}

{% block content %}

{{ govukTable({
  caption: "Import Documentation Outcome",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Inspection Required"
      },
      {
        text: appTag({
          text: "Yes",
          classes: ['govuk-tag--red']
        })
      }
    ],
    [
      {
        text: "Matching Outcome"
      },
      {
        text: appTag({
          text: matchOutcome.value,
          classes: matchOutcome.classes
        })
      }
    ]
  ]
}) }}

{% call govukFieldset({
  legend: {
    text: "Actions",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: false
  }
}) %}
  <form method="post" action="/cds-simulator/create-clearance-request/{{notification.id}}" autocomplete="off" novalidate>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Create Test CR",
      classes: "govuk-button--secondary",
      preventDoubleClick: true
    }) }}
  </div>
  </form>
{% endcall %}

{{ govukTable({
  caption: "IPAFFS Notification (CHED) Information",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Common Health Entry Document (CHED) Reference"
      },
      {
        text: notification.id
      }
    ],
   [
     {
       text: "Last Updated"
     },
     {
       text: lastUpdated
     }
   ],
    [
      {
        text: "Status"
      },
      {
        text: notification.status
      }
    ],
    [
      {
        text: "Country Of Origin"
      },
      {
        text: notification.partOne.commodities.countryOfOrigin
      }
    ],
     [
       {
         text: "Item Number"
       },
       {
         text: "TODO"
       }
     ],
     [
       {
         text: "Last Updated By"
       },
       {
         text: notification.lastUpdatedBy.displayName
       }
     ],
     [
       {
         text: "Importer"
       },
       {
         text: notification.partOne.importer.companyName
       }
     ],
     [
       {
         text: "Consignor"
       },
       {
         text: notification.partOne.consignor.companyName
       }
     ]
  ]
}) }}


{% call govukFieldset({
  legend: {
    text: "Commodity Information",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: false
  }
}) %}

  {{ appEntityList({
      headings: [
        { text: "Item #", size: "small" },
        { text: "Commodity Code", size: "small" },
        { text: "Commodity Description", size: "small" },
        { text: "Complement Description", size: "small" },
        { text: "Quantity", size: "small" },
        { text: "Weight", size: "small" },
        { text: "Match Status", size: "small" }
      ],
      entityRows: ipaffsCommodities,
      noResult: "There are no Commodities on the notification"
    }) }}

{% endcall %}

{% macro getPanelHtml(item) %}
 <h2 class="govuk-heading-l">Past day</h2>
   {{ govukTable({
     head: [
       {
         text: "Case manager"
       },
       {
         text: "Cases opened"
       },
       {
         text: "Cases closed"
       }
     ],
     rows: [
       [
         {
           text: "David Francis"
         },
         {
           text: "4"
         },
         {
           text: "0"
         }
       ],
       [
         {
           text: "Paul Farmer"
         },
         {
           text: "1"
         },
         {
           text: "0"
         }
       ],
       [
         {
           text: "Rita Patel"
         },
         {
           text: "2"
         },
         {
           text: "0"
         }
       ]
     ]
   }) }}
{% endmacro%}

{{ govukTabs({

  items: [
    {
      label: "Past day",
      id: "past-day",
      panel: {
        html: getPanelHtml()
      }
    }
  ]

}) }}

{{ govukTable({
  caption: "HMRC Customs Declaration Information",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Customs Declaration Reference"
      },
      {
        text: "TODO"
      }
    ],
    [
      {
        text: "Final State"
      },
      {
        text: "TODO"
      }
    ],
     [
       {
         text: "Item Number"
       },
       {
         text: "TODO"
       }
     ]
  ]
}) }}
{{ appHeading({
  caption:"Commodity Information"
}) }}
{{ appEntityList({
  headings: [
    { text: "Item Number", size: "small" },
    { text: "Commodity Code", size: "small" },
    { text: "Commodity Description", size: "small" },
    { text: "Quantity", size: "small" },
    { text: "Weight", size: "small" },
    { text: "# Items", size: "small" },
    { text: "Match Status", size: "small" }
  ],
  entityRows: [],
  noResult: "There are no Commodities on the movement"
}) }}


{% if auditEntries|length %}

  {% call govukFieldset({
    legend: {
      text: "Audit Log",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: false
    }
  }) %}

    {{ appEntityList({
        headings: [
          { text: "Version", size: "small" },
          { text: "Created By", size: "small" },
          { text: "Created On (Source)", size: "medium" },
          { text: "Created On (TDM)", size: "medium" },
          { text: "Status", size: "small" }
        ],
        entityRows: auditEntries,
        noResult: "There are no audit entries"
      }) }}

  {% endcall %}

{% endif %}

{% endblock %}

