{% extends "govuk/template.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}
{% from "heading/macro.njk" import appHeading %}

{%- from "govuk/components/table/macro.njk" import govukTable -%}

{%- from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% from "hero/macro.njk" import appHero %}
{% from "tabs/macro.njk" import appTabs %}
{% from "entity-list/macro.njk" import appEntityList %}
{% from "tag/macro.njk" import appTag %}

{% from "service-header/service-header.njk" import defraLoginServiceHeader %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ defraLoginServiceHeader({
    serviceName: serviceName,
    authedUser: authedUser,
    navigationItems: navigation.items,
   activeLinkId: navigation.activeLinkId,
   loginLink: '/auth',
   signOutLink: '/logout'
  }) }}

{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}
  {% if breadcrumbs.length > 1 %}
    {{ appBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      text: "Version Info : " +versionInfo,
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
