{# from "../common/components/audit/macro.njk" import appAudit #}

{% extends "layouts/page.njk" %}

{% block content %}

{{ govukTable({
  caption: "Import Documentation Matching Outcome",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Outcome"
      },
      {
        text: appTag({
          text: matchOutcome.value,
          classes: matchOutcome.classes
        })
      }
    ],
    [
      {
        text: "Decision"
      },
      {
        text: appTag({
          text: decision.value,
          classes: decision.classes
        })
      }
    ],
    [
      {
        text: "Last Updated"
      },
      {
        text: lastUpdated
      }
    ]
  ]
}) }}

{{ govukTable({
  caption: "HMRC Customs Declaration Information",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "MRN"
      },
      {
        text: movement.id
      }
    ],
    [
      {
        text: "Goods Location Code"
      },
      {
        text: movement.goodsLocationCode
      }
    ],
    [
      {
        text: "Entry Reference"
      },
      {
        text: movement.entryReference
      }
    ],
     [
       {
         text: "Arrival Date/Time"
       },
       {
         text: movement.arrivalDateTime
       }
     ]
  ]
}) }}

{% call govukFieldset({
  legend: {
    text: "Check Information",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: false
  }
}) %}

  {{ appEntityList({
      headings: [
        { text: "Item ID", size: "tiny" },
        { text: "Check Code", size: "small" },
        { text: "Decision Code", size: "small" },
        { text: "Department", size: "small" },
        { text: "Decision", size: "large" }
      ],
      entityRows: checks,
      noResult: "There are no items on the movement"
    }) }}

{% endcall %}

{% call govukFieldset({
  legend: {
    text: "Item Information",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: false
  }
}) %}

  {{ appEntityList({
      headings: [
        { text: "Item ID", size: "tiny" },
        { text: "Taric Commodity Code", size: "small" },
        { text: "Goods Description", size: "small" },
        { text: "Origin Country", size: "small" },
        { text: "Weight", size: "small" },
        { text: "Qty", size: "small" },
        { text: "Match Status", size: "small" },
        { text: "Decision", size: "large" }
      ],
      entityRows: items,
      noResult: "There are no items on the movement"
    }) }}

{% endcall %}

{% macro getPanelHtml(item) %}
 <h2 class="govuk-heading-l">Item #1 (IPAFFS Info TODO)</h2>
   {{ govukTable({
     caption: "IPAFFS Notification (CHED) Information",
     captionClasses: "govuk-table__caption--m",
     rows: [
       [
         {
           text: "Common Health Entry Document (CHED) Reference"
         },
         {
           text: notification.id
         }
       ],
       [
         {
           text: "Final State"
         },
         {
           text: notification.status
         }
       ],
       [
         {
           text: "Country Of Origin"
         },
         {
           text: notification.partOne.commodities.countryOfOrigin
         }
       ],
        [
          {
            text: "Item Number"
          },
          {
            text: "TODO"
          }
        ],
        [
          {
            text: "Last Updated By"
          },
          {
            text: notification.lastUpdatedBy.displayName
          }
        ],
        [
          {
            text: "Importer"
          },
          {
            text: notification.partOne.importer.companyName
          }
        ],
        [
          {
            text: "Consignor"
          },
          {
            text: notification.partOne.consignor.companyName
          }
        ]
     ]
   }) }}
     {{ appHeading({
       caption:"Commodity Information"
     }) }}
     {{ appEntityList({
         headings: [
           { text: "Commodity Code", size: "small" },
           { text: "Commodity Description", size: "small" },
           { text: "Complement Description", size: "small" },
           { text: "Quantity", size: "small" },
           { text: "Weight (KG)", size: "small" },
           { text: "# Items", size: "small" },
           { text: "Match Status", size: "small" }
         ],
         entityRows: ipaffsCommodities,
         noResult: "There are no Commodities on the notification"
       }) }}

{% endmacro%}

{{ govukTabs({

  items: [
    {
      label: "Item #1",
      id: "item1",
      panel: {
        html: getPanelHtml()
      }
    }
  ]

}) }}



{% if auditEntries|length %}

  {% call govukFieldset({
    legend: {
      text: "Audit Log",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: false
    }
  }) %}


  {{ appEntityList({
    headings: [
      { text: "Version", size: "tiny" },
      { text: "Created By", size: "small" },
      { text: "Created On (Source)", size: "medium" },
      { text: "Created On (TDM)", size: "medium" },
      { text: "Status", size: "small" }
    ],
    entityRows: auditEntries,
    noResult: "There are no audit entries"
  }) }}


  {% endcall %}

{% endif %}

{% endblock %}
