{# from "../common/components/audit/macro.njk" import appAudit #}

{% extends "layouts/page.njk" %}

{% block content %}

{{ govukTable({
  caption: "Import Documentation Matching Outcome",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Outcome"
      },
      {
        text: appTag({
          text: "No Match",
          classes: ['govuk-tag--red']
        })
      }
    ],
    [
      {
        text: "Last Updated"
      },
      {
        text: lastUpdated
      }
    ]
  ]
}) }}

{{ govukTable({
  caption: "HMRC Customs Declaration Information",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Customs Declaration Reference"
      },
      {
        text: notification.id
      }
    ],
    [
      {
        text: "Goods Location Code"
      },
      {
        text: notification.goodsLocationCode
      }
    ],
    [
      {
        text: "Entry Reference"
      },
      {
        text: notification.entryReference
      }
    ],
     [
       {
         text: "Arrival Date/Time"
       },
       {
         text: notification.arrivalDateTime
       }
     ]
  ]
}) }}
{{ appHeading({
  caption:"Item Information"
}) }}
{{ appEntityList({
    headings: [
      { text: "Type", size: "large" },
      { text: "Taric Commodity Code", size: "small" },
      { text: "Goods Description", size: "small" },
      { text: "Origin Country", size: "small" },
      { text: "Weight", size: "small" },
      { text: "Match Status", size: "small" }
    ],
    entityRows: items,
    noResult: "There are no items on the movement"
  }) }}
  {% if auditEntries|length %}
  {{ appHeading({
    caption:"Audit Log"
  }) }}
  {{ appEntityList({
      headings: [
        { text: "Version", size: "small" },
        { text: "Created By", size: "small" },
        { text: "Created On (Source)", size: "medium" },
        { text: "Created On (TDM)", size: "medium" },
        { text: "Status", size: "small" }
      ],
      entityRows: auditEntries,
      noResult: "There are no audit entries"
    }) }}
  {% endif %}
{{ govukTable({
  caption: "IPAFFS Notification (CHED) Information",
  captionClasses: "govuk-table__caption--m",
  rows: [
    [
      {
        text: "Common Health Entry Document (CHED) Reference"
      },
      {
        text: notification.id
      }
    ],
    [
      {
        text: "Final State"
      },
      {
        text: notification.status
      }
    ],
    [
      {
        text: "Country Of Origin"
      },
      {
        text: notification.partOne.commodities.countryOfOrigin
      }
    ],
     [
       {
         text: "Item Number"
       },
       {
         text: "TODO"
       }
     ],
     [
       {
         text: "Last Updated By"
       },
       {
         text: notification.lastUpdatedBy.displayName
       }
     ],
     [
       {
         text: "Importer"
       },
       {
         text: notification.partOne.importer.companyName
       }
     ],
     [
       {
         text: "Consignor"
       },
       {
         text: notification.partOne.consignor.companyName
       }
     ]
  ]
}) }}
  {{ appHeading({
    caption:"Commodity Information"
  }) }}
  {{ appEntityList({
      headings: [
        { text: "Commodity Code", size: "small" },
        { text: "Commodity Description", size: "small" },
        { text: "Complement Description", size: "small" },
        { text: "Quantity", size: "small" },
        { text: "Weight (KG)", size: "small" },
        { text: "# Items", size: "small" },
        { text: "Match Status", size: "small" }
      ],
      entityRows: ipaffsCommodities,
      noResult: "There are no Commodities on the notification"
    }) }}

{% endblock %}
