{% extends "layouts/page.njk" %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Movements management"
  }) }}

  {{ appEntityList({
    headings: [
      { text: "ID", size: "large" },
      { text: "Goods Location", size: "small" },
      { text: "# Items", size: "small" },
      { text: "Updated", size: "medium" },
      { text: "Decision", size: "small" },
      { text: "Match Outcome", size: "small" }
    ],
    entityRows: movements,
    noResult: "There are no movements available at the moment"
  }) }}

  {% from "govuk/components/pagination/macro.njk" import govukPagination %}

  {{ govukPagination({
    previous: {
      href: "#"
    },
    next: {
      href: "#"
    },
    items: [
      {
        number: 1,
        href: "#"
      },
      {
        number: 2,
        current: true,
        href: "#"
      },
      {
        number: 3,
        href: "#"
      }
    ]
  }) }}

{% endblock %}
