.app-\!-layout-centered {
  display: flex;
  align-items: center;
}

.app-\!-layout-right-aligned {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.app-\!-align-vertical-middle {
  vertical-align: middle;
}

